
body {
    background-color: white;
    margin: 0;     padding: 0;     font-family: 'Roboto', sans-serif;     display: flex;
    flex-direction: column;
}


header {
    text-align: center;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
    max-width: 100%; 
    border-radius: 40px;
    /* con border-radius les pongo las esquinas redondeadas https://developer.mozilla.org/es/docs/Web/CSS/border-radius*/
}
    

.navbar {
        background-color: white;
        text-align: center;
    }


.form_form {
    margin-top: 20px;     
 }

.contenedorinicio {
    display: flex;
    flex-direction: column;
    gap: 40px;     
    padding: 20px;
  }
  
    .articulo1, .articulo2 {
    display: flex;
    align-items: center;     gap: 20px;   }
  
    .articulo1 {
    flex-direction: row;   }
  
    .articulo2 {
    flex-direction: row-reverse;   }
  
    .img1, .img2 {
    width: 40%;     height: auto;     border-radius: 40px;   }
        
.articulo1 p, .articulo2 p {
    width: 65%;     margin: 0;     line-height: 2;     font-size: 1.5em;     font-family: 'Verdana', sans-serif;     color: #222;     text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1); }

/* lo de la sombra en el texto lo he encontrado en este enlace que me ha sido util: https://developer.mozilla.org/en-US/docs/Web/CSS/text-shadow */

.articulo1 ul {
    margin: 0;
    padding-left: 25px;     font-size: 1.3em;     color: #d1401b;     font-family: 'Verdana', sans-serif;
}

.articulo1 ul li {
    margin-bottom: 12px;     line-height: 1.8;
}

.articulo2 p strong {
    color: #0056b3;     font-weight: bold;
    text-decoration: underline; }


.privacidad , .depart, .coment, .adjuntar, .telefono{
    color: #000407;
    display: block;     margin-bottom: 5px;     font-size: 25px;
    padding: 20px;    
}

.form_checkbox_container {
    display: flex;     align-items: center;     margin-bottom: 10px; }


.form_input,
.form_select,
.form_textarea {
    width: 100%;     padding: 8px;     margin-bottom: 10px;     box-sizing: border-box; }

.form_submit:hover {
    background-color: #0cd5d5;
}


.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {   
    float: left;
    /* esto lo hago para que se oriente horizontalmente */
}


/* auqi trato los enlaces y el select del idioma */
.nav-links li a, .navbar select {
    padding: 10px;
    font-size: 16px;     display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}


/* aqui trato la pseudoclase hover de los enlaces, simplemente cambiando el color */
.nav-links li a:hover {
    background-color: rgba(89, 99, 194, 0.2);     color: black;
}

@media screen and (max-width: 600px) {
    .nav-links li {
        float: none;
    }
}

.navbar select {
    background-color: white;     color: black;     border: 1px solid #ccc;     border-radius: 5px;     margin-left: 20px;     cursor: pointer; }

@media screen and (max-width: 600px) {
    .navbar select {
        width: 100%;     }
    .nav-links li, .idioma {
        float: none;         text-align: center;     }
}


html, body {
    height: 100%;
    margin: 0;
}

.central,  iframe{
    margin: 0 auto;

}

.central p {
    font-weight: 500;
    
}


.central {
    max-width: 800px;     margin: 0 auto;     padding: 20px;     background-color: #f9f8fc;     border-radius: 10px;     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);     margin-top: 20px;     margin-bottom: 20px; }


.primero {
    position: relative; }
    /* para que se posicione en relacióon a él, no a la página */


    /* aquí trato las pseudoclases */
.primero::before,
.primero::after {
    content: '';     position: absolute;     bottom: 0;     left: 0;     width: 100%;     height: 1px;     background-color: #ccc; }


.primero::after {
    bottom: 0; }


.central19 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;     height: 300px;     width: 80%;     margin: 0 auto; }

.product, .product1, .product2 {
    
      margin-top: 7rem;
    text-align: center;
}

.product:hover{
    background-color: #037bc0;
    color: white;
    border-bottom-right-radius: 1rem;
}


.titcomp {
    font-size: 24px;
    font-weight: bold;
    color: #222;
    margin-bottom: 10px;
}

.containercomp {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.mampcomp {
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.form_select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
    
}

.form_textarea {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
}

.form_submit {
    width: auto;     padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form {
    background-color:#787476;     padding: 20px;     border-radius: 10px; }

.contact-form h3 {
    margin-bottom: 10px; }

.contact-form form {
    margin-top: 10px; }

.contact-form label {
    display: block;     margin-bottom: 5px; }


    /* hago esta selección para que todos los campos de entrada del formulario tengan los mismos estilos. */
    /* me llamó la atención, ya que no conocía esta funcionalidad, lo cogí de https://www.w3schools.com/css/css_form.asp */
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
    width: 100%;     padding: 8px;     margin-bottom: 10px;     border: 1px solid #11010a;     border-radius: 5px; }

.contact-form input[type="submit"] {
    background-color: #007bff;     color: #fff;     padding: 10px 20px;     border: none;     border-radius: 5px;     cursor: pointer; }

.contact-form input[type="submit"]:hover {
    background-color: #0056b3; }


button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(153, 33, 79);
}
button:hover{
    background-color: rgb(73, 26, 117);
}

.programas {
    display: flex;
    justify-content: space-between;
}

.carta {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4e1e1; }

.carta h3 {
    margin-top: 0;
    color: #333; }

.carta p {
    margin-bottom: 10px;
    color: #666; }

button {
    background-color: #e93790;     color: #fff;     border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #d450a4; 
}


.nuestros-servicios {
    color: #0e0007;     text-align: center;     margin: auto; }


.fondo {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 400px; }



.projects-container {
    display: flex;
    justify-content: center; 
    gap: 60px; 
    margin: auto; }

.proyecto-img {
    width: 100%;     height: 150px;     object-fit: cover;     border-radius: 5px; 
}

.img-fabrica {
    display: block;
    margin: 20px auto;     max-width: 80%;     height: auto;     border-radius: 5px; }


.cl1,
.cl2 {
    max-width: 400px;     padding: 20px;     background-color: #837d59;     border-radius: 8px;     box-shadow: 0 0 10px rgba(81, 23, 148, 0.1);     text-align: center; }


.cl2 img {
    display: block; 
    margin: 0 auto; }

/* Estilo general */
.equipo {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
}

/* Título principal */
.equipo h2 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.miembros {
    display: flex;
    justify-content: center;
    gap: 40px; 
    flex-wrap: wrap;
}

.miembro {
    text-align: center;
    width: 200px;
}

.miembro img {
    width: 100%;
    max-width: 300px;
    border-radius: 50%; /* Hace que las imágenes sean circulares, he descubierto que se puede hacer con % tambien */
    border: 3px solid #ccc;
    margin-bottom: 10px;
}

.miembro p {
    font-size: 18px;
    font-weight: bold;
    color: #444;
    margin: 0;
}


.fondoformulario {
    background-image: url('https://arquimart.es/wp-content/uploads/2021/04/arquimart.jpg');
    border-radius: 40px;
    /* vuelvo a añadir el borde redondeado, ya que al ser un fondo, no es img, por lo que no adapta la característica aplicada a las imágenes */
    background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        width: 50%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto; 
              
}

.sectionindice{
    background-color: #d7dfe6;
}

.h2indice {
    margin: 0 auto; 
    display: block;
    font-size: 30px;
}



footer {
    background-color: #1a0e14; 
    text-align: center;
    color: white; 
    padding: 2rem 0;
    font-size: 1rem;
}


.footerContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.footerColumn {
    flex-basis: 30%;
    color: white;
    
}

.footerColumn h3 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.footerColumn ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.footerColumn li {
    margin-bottom: 15px;
}

.footerColumn a {
    color: white;
    text-decoration: none;
}

.contenedor-años {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
}
.contenedor-años div {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.año2010, .año2014, .año2018 {
    background-color: #f0f0f0;
    text-align: right;
}
.año2012, .año2016 {
    background-color: #837d59;
    text-align: left;
}


.footerColumn .satisfaccion a {
    display: inline-block;
    text-decoration: none;
        text-align: center;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #ffffff;
    margin-right: 10px;
    background-color: #0a141d;
    text-align: center;
    transition: all 300ms ease;
    

}


.copyright {
    background-color: #282727;
    padding: 15px 10px;
        text-align: center;
    color: #fff;
}



.contenedor {
    width: 100%;
    text-align: center;
    background-color: white;
    
  }
  
  .contenido {
    max-width: 600px;     margin: auto;   }
  

    .disponibilidad {
    margin: 0 auto;     max-width: 100%;     width: 80%;     text-align: center;     background-image: url('../img/fondodisponibilidad.png');     background-size: cover;     background-repeat: no-repeat;     padding: 20px;     margin-bottom: 50px; }

.disponibilidad h2 {
    margin-top: 50px;     margin-bottom: 20px;     color: white; }

.contenidotabla {
    color: white;
}

.disponibilidad table {
    width: 100%;     border-collapse: separate;     border-spacing: 10px; }

.disponibilidad th,
.disponibilidad td {
    padding: 10px;     text-align: center;     border: 1px solid #ddd; }

.disponibilidad th {
    background-color: #f2f2f2; }



.mapa {
    display: block;
    margin: 0 auto;
    width: 80%;     height: 450px; }

.form-container {
    margin-right: 20px;     margin-bottom: 20px; }


input {
    display: block;     margin-bottom: 10px;   }

  .footerMap {
    display: flex;
    justify-content: center;     align-items: center;     margin-top: 1.25rem; }

.footerMap iframe {
    width: 80%;     max-width: 37.5rem; 
    height: 25rem; 
    border: none; }
